{% extends 'plantilla.html' %}

{% block asesoria %}
    <section class="ftco-intro">
    	<div class="container">
    		<div class="row no-gutters">
    			<div class="col-md-4 d-flex">
    				<div class="intro d-lg-flex w-100 ftco-animate">
    					<div class="icon">
    						<span class="flaticon-support"></span>
    					</div>
    					<div class="text">
    						<h2>Asesoría 24/7</h2>
    						<p>Lo asesoramos en todo tipo de evento para que le de gusto a su paladar y a sus invitados.</p>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-4 d-flex">
    				<div class="intro color-1 d-lg-flex w-100 ftco-animate">
    					<div class="icon">
    						<span class="flaticon-cashback"></span>
    					</div>
    					<div class="text">
    						<h2>Garantía de Reembolso</h2>
    						<p>Si no le satisface nuestro servicio, siéntase con la seguridad que le reintegramos su dinero.</p>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-4 d-flex">
    				<div class="intro color-2 d-lg-flex w-100 ftco-animate">
    					<div class="icon">
    						<span class="flaticon-free-delivery"></span>
    					</div>
    					<div class="text">
    						<h2>Envío gratis &amp; garantizado</h2>
    						<p>Nosotros nos preocupamos por Usted, para que todo este listo para su evento.</p>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
{% endblock %}

{% block desde1905 %}
    <section class="ftco-section ftco-no-pb">
		<div class="container">
			<div class="row">
				<div class="col-md-6 img img-3 d-flex justify-content-center align-items-center" style="background-image: url({{ url_for('static', filename='images/about.jpg' ) }});"></div>
				<div class="col-md-6 wrap-about pl-md-5 ftco-animate py-5">
					<div class="heading-section">
						<span class="subheading">Desde 1905</span>
						<h2 class="mb-4">El deseo se encuentra con un Nuevo Gusto</h2>

						<p>Almacén de Vinos Jiquilpan, desde siempre lo mejor en vinos de mesa, disfruta de un mundo paradisíaco. Satisface tu paladar con nuestros productos añejados.</p>
						<p>Mi pobre corazón de angustia herido
							y de locura, no podrá curarse
							de esta embriaguez de amor, ni libertarse
							de la prisión donde quedó sumido.
							Pienso que el día de la creación
							en que el vino de amor fue al hombre dado,
							el que llenó mi copa fue esenciado
							con sangre de mi propio corazón.
						</p>
						<p class="year">
							<strong class="number" data-number="115">0</strong>
							<span>Años de Experiencia en el Negocio</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block categorias %}
	<section class="ftco-section ftco-no-pb">
		<div class="container">
			<div class="row">
				<!-- Aqui se muestran las categorias  -->
				{% for categoria in categorias: %}
					<div class="col-lg-2 col-md-4 ">
						<div class="sort w-100 text-center ftco-animate">
							<a href="productos/?idCategoria={{categoria.idCategoria}}">
								<div class="img" style="background-image: url(../static/img/categorias/{{ categoria.imagenCategoria  }});">
								</div>
							</a>
							<h3>{{ categoria.nombreCategoria  }}</h3>
						</div>
					</div>
				 {% endfor %}
			</div>
		</div>
	</section>
{% endblock %}

{% block productosDestacados %}
<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center pb-5">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<span class="subheading">Ofertas deliciosas</span>
					<h2>Con su buen gusto</h2>
				</div>
			</div>
			<div class="row">
				{% for producto in productos: %}
				<div class="col-md-3 d-flex">
					<div class="product ftco-animate">
						<div class="img d-flex align-items-center justify-content-center" style="background-image: url(../static/img/productos/{{ producto.productoImagen }});">
							<div class="desc">
								<p class="meta-prod d-flex">
									<a href="#" class="d-flex align-items-center justify-content-center"><span class="flaticon-shopping-bag"></span></a> <!-- Carrito -->
									<!-- <a href="#" class="d-flex align-items-center justify-content-center"><span class="flaticon-heart"></span></a>  deseo -->
									<!-- <a href="#" class="d-flex align-items-center justify-content-center"><span class="flaticon-visibility"></span></a> Producto-Ver -->
								</p>
							</div>
						</div>
						<div class="text text-center">
							{% if producto.productoTipo == 2 %}
								<span class="seller">Más Vendido</span> <!-- Rebaja -->
							{% endif %}

							{% if producto.productoTipo == 3 %}
								<span class="sale">Rebaja</span> <!-- Rebaja -->
							{% endif %}

							{% if producto.productoTipo == 4 %}
								<span class="new">Nuevo</span> <!-- Rebaja -->
							{% endif %}

							<span class="category">{{ producto.nombreCategoria }}</span><!--  Categoria -->
							<h2>{{ producto.productoNombreCorto }}</h2> <!-- Nombre del vino -->
							<p class="mb-0">
								{% if producto.productoTipo == 3 %}
									<span class="price price-sale">$ {{ "{:.2f}".format(producto.precioVenta - producto.descuento) }}</span>
								{% endif %}
								<span class="price">$ {{ "{:.2f}".format(producto.precioVenta) }}</span>
							</p> <!-- Precio de Oferta y precio Final -->
						</div>
					</div>
				</div>
				{% endfor %}
				</div>
			<div class="row justify-content-center">
				<div class="col-md-4">
					<a href="product.html" class="btn btn-primary d-block">Ver todos los productos <span class="fa fa-long-arrow-right"></span></a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
